@import url('https://fonts.googleapis.com/css?family=Monda');
/* 
font-family: 'Monda', sans-serif;
*/

:root {
  --color1: #1f2226;
  --color2: linen;
  --color-tohover: #f8b500;
  --color-hovered: #2e94b5;
}

body {
    background: var(--color1);
    font-family: 'Monda', sans-serif;
    color: var(--color2);
}

img {
    display: block;
    width: 100%;
    border: 1px solid var(--color2);
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    max-width: 70px !important;
    max-height: 70px !important;
    border: none;
    padding: none;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

.text-center{
    text-align: center;
}

.subtitle-size {
    font-size: 22px;
}

.divider {
    border-top: none;
    border-bottom: 2px var(--color2) solid;
}

.btn-default {
    color: var(--color1);
}

button {
    background: var(--color2) !important;
    font-size: 18px;
    padding: 2px 5px;
}

button:hover,
button:focus,
button:active {
    background: var(--color-tohover) !important;
    color: var(--color2) !important;
    outline: none !important;
}

a {
    color: var(--color-tohover) !important;
}

a:hover,
a:active,
a:focus {
    color: var(--color-hovered) !important;
    text-decoration: none !important; 
}

.dropdown-menu,
a#rmd-show-all-code,
a#rmd-hide-all-code {
    background: var(--color2);
    color: var(--color1) !important;
}

a#rmd-show-all-code:hover,
a#rmd-show-all-code:focus,
a#rmd-show-all-code:active,
a#rmd-hide-all-code:hover,
a#rmd-hide-all-code:focus,
a#rmd-hide-all-code:active {
    background: var(--color-tohover);
    color: var(--color2) !important
}

pre.r {
    background: var(--color2) !important;
}

div.tocify {
    border: 1px solid var(--color2);
    border-radius: 4px;
}

.list-group-item {
    background: var(--color2) !important;
    color: var(--color1) !important;
}

.list-group-item.active {
    background: var(--color1) !important;
    color: var(--color2) !important;
}